/* style untuk bagian body */
body {

    background: yellow;
}

/* style untuk bagian header */
header{
     background: white;
     padding: 20px;
}

/* style untuk bagian nav */
nav {
 background: white;

}

main {
    background: white;
    padding: 20px;
}

/* style untuk bagian footer  */
footer{
    background: white;
    padding: 20px;
}
/* class selctor */
 
.container {
    border-style: solid;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
}

